
body {
  display: flex;
  justify-content: center;
  background: #a10071;
  font-family: sans-serif;
}

input {
  padding: 20px;
  width: 300px;
}

button {
  padding: 20px 30px;
}

.tab {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  height: 200px;
  background: #fff;
  border-radius: 8px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.result-wrap {
  display: flex;
  height: 100%;
}

.count {
  margin: 0 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 50%;
}
